@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    QuickType_Country.Welcome[] welcomes = (QuickType_Country.Welcome[])ViewData["Welcome"];
    QuickType_City.Geonamedata[] geodatas = (QuickType_City.Geonamedata[])ViewData["Geoname"];
}

<div class="text-center">
    <h1 class="display-4">Citywise Geoname Data</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Code</th>


        </tr>
        @{
            foreach (QuickType_Country.Welcome Country in welcomes)
            {
                <tr>
                    <td>@Country.Name</td>
                    <td>@Country.Code</td>

                </tr>
            }
        }

    </table>
    <table border="1">
        <tr>
            <th>Country</th>
            <th>Geoname</th>
            <th>Name</th>
            <th>Subcountry</th>


        </tr>
        @{
            foreach (QuickType_City.Geonamedata City in geodatas)
            {
         
                <tr>
                    <td>@City.Country</td>
                    <td>@City.Geonameid</td>
                    <td>@City.Name</td>
                    <td>@City.Subcountry</td>

                </tr>
            }
        }
    </table>
</div>