@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    QuickTypeCountry.Country[] countries = (QuickTypeCountry.Country[])ViewData["Countries"];
    QuickTypeGeo.Geonamedata[] geodatas = (QuickTypeGeo.Geonamedata[])ViewData["Geoname"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Code</th>


        </tr>
        @{
            foreach (QuickTypeCountry.Country country in countries)
            {
                <tr>
                    <td>@country.Name</td>
                    <td>@country.Code</td>

                </tr>
            }
        }

    </table>
    <table border="1">
        <tr>
            <th>Country</th>
            <th>Geoname</th>
            <th>Name</th>
            <th>Subcountry</th>


        </tr>
        @{
            foreach (QuickTypeGeo.Geonamedata geo in geodatas)
            {
                <tr>
                    <td>@geo.Country</td>
                    <td>@geo.Geonameid</td>
                    <td>@geo.Name</td>
                    <td>@geo.Subcountry</td>


                </tr>
            }
        }
    </table>
</div>